.projects-wrapper {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftMenu {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 80px;
    left: 0;
    padding: 30px 50px 0px 40px;
    transition: all 0.5s;
    background-color: #fff;
    ul {
      li {
        font-family: "Calibri Bold";
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 20px;
        transition: all 0.2s;
        &:hover {
          text-decoration: line-through;
          color: red;
        }
      }
    }
  }
  .showLeftMenu {
    z-index: 4;
    transform: translateX(0px);
  }

  .hideLeftMenu {
    transform: translateX(-250px);
  }
}

.showOpacScreen {
  opacity: 1;
}

.hideOpacScreen {
  opacity: 0;
  visibility: hidden;
}
