@font-face {
  font-family: "Calibri Bold";
  src: url("./../medias/fonts/calibri-bold-2.ttf");
}

@font-face {
  font-family: "Calibri Regular";
  src: url("./../medias/fonts/CalibreRegular.woff");
}

